body {
    /*background-image: url("../stims/water_background.jpg"); */
	margin: 0;
}

/*
html { 
  background: url("../stims/water_background.jpg") center center fixed; 
  -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
  background-size: cover;
};
*/


/*.stop-scrolling {
  height: 100%;
  overflow: hidden;
} */


/* #jspsych-button-response-btngroup {
	position: absolute;
	top: 409px;
	left: 591px;
}
*/

.jspsych-content-wrapper {
	display: flex;
   margin: auto;
   flex: 1 1 100%;
   width: 75%;
 }

 .jspsych-content {
   max-width: 95%; /* this is mainly an IE 10-11 fix */
   text-align: left;
   margin: auto; /* this is for overflowing content */
 }

 .jspsych-instructions-nav {
 	text-align: center;
 }

 .jspsych-play-button-response-group {
 	text-align: center;
 }

 .jspsych-survey-text-question {
 	text-align: center;
 }

 .jspsych-survey-next {
 	text-align: center;
 }

#jspsych-target {
  position: relative;
}


#jspsych-test-canvas {
  margin: auto;
}

input[type=number]{
    width: 70px;
} 

#jspsych-bet-1 {
	font-size: 18pt;
	position: absolute;
	left: 112px;
	top: 300px;
	
}

#jspsych-bet-2 {
	font-size: 18pt;
	position: absolute;
	left: 612px;
	top: 300px;
	
}

#jspsych-bet-3 {
	font-size: 18pt;
	position: absolute;
	left: 362px;
	top: 500px;
	
}

#jspsych-produce-1 {
	font-size: 18pt;
	position: absolute;
	left: 72px;
	top: 350px;
	
}

#jspsych-produce-2 {
	font-size: 18pt;
	position: absolute;
	left: 572px;
	top: 350px;
	
}

#jspsych-produce-3 {
	font-size: 18pt;
	position: absolute;
	left: 322px;
	top: 320px;
	
}


#jspsych-betbox-1 {
	font-size: 20pt;
	
}

#jspsych-betbox-2 {
	font-size: 20pt;
	
}

#jspsych-betbox-3 {
	font-size: 20pt;	
}

#jspsych-prodbox-1 {
	font-size: 20pt;
	
}

#jspsych-prodbox-2 {
	font-size: 20pt;
	
}

#jspsych-prodbox-3 {
	font-size: 20pt;	
}


input:invalid {
  outline: 2px solid red;
}
input:focus:invalid {
  color: red;
}

#jspsych-learning-prompt-btngroup {
	position: absolute;
	top: 185px;
	left: 362px;
}

#jspsych-selection-learning-btngroup {
	position: absolute;
	top: 90px;
	left: 385px;
}

#jspsych-passive-learning-btngroup {
	position: absolute;
	top: 125px;
	left: 328px;
}

#jspsych-comp-test-prompt-btngroup {
	position: absolute;
	top: 100px;
	left: 385px;
}

#jspsych-free-sort-arena {
	position: absolute;
	top: 50px;
	left: 362px;
  border: 2px solid #444;
}